.errorBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.title{
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;
}
.messege{
    padding: 10px 0px;
}